<div *ngIf="buscadorVacio" class="container">
  <h3 class="mt-5">Resultados de la busqueda</h3>
  <hr>
  <br>
    <app-peliculas [peliculas]="buscador"></app-peliculas>
</div>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Estrenos</h1>
    <p class="lead">Los últimos estrenos en cartelera</p>
  </div>
</div>

<div class="container">
  <br>
    <app-peliculas [peliculas]="estrenos"></app-peliculas>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Populares</h1>
    <p class="lead">Las películas más populares de las últimas semanas</p>
  </div>
</div>

<div class="container">
  <br>
  <app-peliculas [peliculas]="populares"></app-peliculas>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Niños</h1>
    <p class="lead">Películas para toda la familia</p>
  </div>
</div>

<div class="container">
  <br>
  <app-peliculas [peliculas]="kids"></app-peliculas>
</div>